---
title: Robert Bruce CPA
---
<div class="container">
  <div class="col-container">
  	<div class="col-left">

      <br />
      <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcS5skBnq6pPokPWStoQzG1mgD6FxqfFYwvdumWpbRVUlblea76Llw" />
  	</div>

    <div class="col-right">
      <h1>Robert Bruce</h1>
      <p>
        As a child Robert hated the IRS... <%= lorem.sentences 5 %>
      </p>

      <h1>Education</h1>
      <p>
        As a child Robert hated the IRS... <%= lorem.sentences 5 %>
      </p>


      <h1>Testimonials</h1>
      <blockquote>
        <%= lorem.sentences 3 %> ~ Bob Hope
      </blockquote>
      <blockquote>
        <%= lorem.sentences 3 %> ~ Richard Nixon
      </blockquote>
      <blockquote>
        <%= lorem.sentences 3 %> ~ Ronald Reagan
      </blockquote>
    </div>
  </div>
</div>
